<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brandstore">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".track_order"></activity>
        <activity android:name=".cancel_reason" />
        <activity android:name=".return_reason" />
        <activity android:name=".update_sale2" />
        <activity android:name=".Update_sale1" />
        <activity android:name=".All_reviews" />
        <activity android:name=".generate_bill" />
        <activity android:name=".sale_report2" />
        <activity android:name=".Sale_report" />
        <activity android:name=".view_stocks2" />
        <activity android:name=".View_stocks" />
        <activity android:name=".Add_review" />
        <activity android:name=".Allorders_selected" />
        <activity android:name=".All_orders" />
        <activity android:name=".myorders_selected" />
        <activity android:name=".upadate_profile" />
        <activity android:name=".search_activity" />
        <activity android:name=".whishlist" />
        <activity android:name=".my_orders" />
        <activity android:name=".razorpay" />
        <activity android:name=".phonepesample" />
        <activity android:name=".gpay_sample" />
        <activity android:name=".choose_payment" />
        <activity android:name=".sale_product_view" />
        <activity android:name=".p_grid_selecteditem" />
        <activity android:name=".cust_category" />
        <activity android:name=".Home2" />
        <activity android:name=".cat_prod_view" />
        <activity android:name=".category_selecteditem" />
        <activity android:name=".Add_category" />
        <activity android:name=".update_product" />
        <activity android:name=".product_updview" />
        <activity android:name=".sale_view" />
        <activity android:name=".Add_sale" />
        <activity android:name=".product_view" />
        <activity android:name=".Add_product" />
        <activity android:name=".Logout_activity" />
        <activity android:name=".verify_otp" />
        <activity android:name=".phoneno_enter" />
        <activity android:name=".Home" />
        <activity android:name=".verify_phno" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>